html {
    height: 2000px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    margin: 10px; 
}

.navbar-brand span {
    color: gold;
}

.mon-h1 {
    color: gold;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    margin-top: 0.1em;
}

.mon-h2 {
    text-align: center;
    font-weight: 900;
}

.mon-p1 {
    text-align: center;
    border: 2px solid black;
    margin-top: 2em;
    padding: 2em;
    margin-left: 200px;
    margin-right: 200px;
}

.form-ins {
    text-align: center;
    background-color: darkgrey;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 5% ;
}

.form-co {
    margin-top: 0;
    padding: 45px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: darkgrey;
    border-radius: 5% ;
}

.btn-valForCo button {
    margin-top: 15px;
    margin-left: 275px;
    width: 100px;
}

.btn-return button {
    left: 30px;
    width: 100px;
    margin-top: 20px;
}

.acceuil-btn {
    position: absolute;
    left: 600px;
    margin-top: 50px;
}

.acceuil-btn button {
    width: 300px;
}

.card-body {
    position: absolute;
    display: block;
    float: left;
}

.card2 .card-body {
    position: absolute;
    display:block;
    float: right;
}