body {
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    margin: 10px; 
}

.navbar-brand span {
    color: gold;
}

.mon-h1 {
    color: gold;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    margin-top: 0.5em;
}

.mon-h2 {
    text-align: center;
    font-weight: 900;
}

.mon-p1 {
    text-align: center;
    border: 2px solid black;
    margin-top: 2em;
    padding: 2em;
    margin-left: 200px;
    margin-right: 200px;
}

.form-ins {
    text-align: center;
    background-color: darkgrey;
    margin-left: 500px;
    margin-right: 500px;
}

.form-ins .form-control {
    
}

.form-floating {
    margin-left: 500px;
    margin-right: 500px;
}

.btn-valForCo {
    left: 500px;
}

.btn-valForCo  button {
    width: 100px;
    margin-left: 725px;
    margin-top: 15px;
}

